:root {
	--primary-color: #00adf6;
	--secondary-color: #0e4d57;
	--gradient-color: linear-gradient(180deg, #00adf6 0%, #0776fe 100%);
	--navbar-color: #FFF;
	--navbar-color-secondary: #fff;
	--background-color: #ecebeb;
	--success-color: #2ecc71;
	--error-color: #e74c3c;
	--box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
	--gray-light: #eee;
	--gray-dark: #2e2e2e;
	--focus-blue: #1976d2;
}

button {
	width: 120px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	height: 40px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 10px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

button:hover {
	background-color: var(--secondary-color);
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

button:focus {
	outline: none;
}

button {
	background-color: var(--primary-color);
	box-shadow: 0 5px 15px rgba(151, 21, 26, 0.4);
}

h1, h3, h4{
	margin: 0;
	color: rgb(0, 0, 0);
}



#dias {
	margin: 0;
	color: black;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

nav {
	width: 15vw;
	padding: 10px;
}

nav .nav-header {
	display: flex;
	justify-content: center;
}

nav .nav-header img {
	margin-top: 10px;
	max-width: 160px;
}

nav hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.186), rgba(0, 0, 0, 0));
}

nav .nav-links {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

nav .nav-links a {
	width: 100%;
}

nav .nav-links .nav-item i {
	box-shadow: var(--box-shadow);
	color: var(--primary-color);
	background: white;
	padding: 14px;
	border-radius: 10px;
	margin: 10px;
	font-size: 25px;
	width: 39%;
	text-align: center;
	flex-direction: row;
}

nav .nav-links .nav-item li {
	color: rgb(21, 21, 21);
	width: 116%;
}
nav .nav-links .nav-item.active {
	background-color: rgb(102, 186, 255);
	border-radius: 10px;
	padding-right: 60px;
	box-shadow: var(--box-shadow);
}
 
nav .nav-links .nav-item.active li {
	color: rgb(12, 12, 12);
	
}

nav .nav-links .nav-item.active i {
	color: rgb(255, 255, 255);
	background: var(--gradient-color);
	padding: 14px;
	border-radius: 10px;
	margin: 10px;
	width: 39%;
}

nav .nav-links .searchLabelWrap {
	display: flex;
	gap: 0.5rem;
	background: white;
	padding: 0.5rem 1rem;
	border-radius: 1rem;

	&:focus-within {
		outline: 2px solid var(--focus-blue);
		outline-offset: 2px;
	}
}

.searchInput {
	box-shadow: var(--box-shadow);
	border: 0;
	outline: 0;
	background: white;
	border: 1px solid rgb(192, 192, 192);
	border-radius: 15px;
	padding: 15px;
	font: inherit;
}

.searchInput:focus {
	border-color: var(--primary-color);
    box-shadow: inset 0 1px 4px #ffaadb, 0 0 20px 2px #821a4c28;
}

header {
	color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	height: 10vh;
	align-items: center;
}

header .info-page .ol-info {
	color: rgb(0, 0, 0);
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	/* Remover a pontuação dos itens da lista */
	font-size: 15px;
}

header .info-page ol li {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	/* Alinhar verticalmente os itens */
}

header .info-page ol li a {
	text-decoration: none;
	color: inherit;
	/* Herda a cor do elemento pai, se necessário */
	padding: 0 8px;
	/* Espaçamento horizontal entre os itens */
}

/* Estilize o separador se necessário */
header .info-page ol li+li::before {
	content: '/';
	margin: 0 5px;
	/* Espaçamento ao redor do separador */
	color: #000000;
	/* Cor do separador */
}

header .info-page .ol-info li:nth-last-of-type(1) {
	/* Estilos específicos para o primeiro item */
	font-weight: bold;
	/* Exemplo: negrito */
	color: rgb(0, 0, 0);
	/* Exemplo: cor vermelha */
}


header input {
	height: 5vh;
}

.conteudo {
	flex: 1;
	padding: 20px;
	height: fit-content;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cabecalho .primary-info {
	color: var(--gray-dark);
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	text-align: flex-start;
	flex: 1;
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cabecalho .primary-info .info-header p,
.cabecalho .primary-info .info-header h2 {
	margin: 0;
}

.cabecalho .primary-info .background-icon {
	padding: 10px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0.5;
	font-size: 25px;
	color: white;
	max-width: 3vw;
	background: var(--gradient-color);
}

.cabecalho .primary-info:first-child {
	margin-left: 0;
}

.cabecalho .primary-info:last-child {
	margin-right: 0;
}

.principal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
	gap: 20px;
}

.principal .box-header {	
	flex: 1;
	margin-right: 10px;
	display: flex;
	height: 50px;
	justify-content: space-between;
	align-items: center;
}

.principal .box-header i {	
	box-shadow: var(--box-shadow);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	width: 33px; /* Largura do círculo */
    height: 33px;
	border-radius: 450px;
	font-size: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.principal .box {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
	width: 45%;
	flex: 1;
	gap: 20px;
}

.principal .box:last-child {
	margin-right: 0;
}

.principal .box .box-content {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.principal .box .box-content .export-button {
	width: 100%;
	background-color: white;
	border: 1px solid var(--primary-color);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.178);
	color: #045a70;
}

.principal .box .box-content .export-button:hover {
	width: 100%;
	background-color: #0a2e64;
	border: 1px solid var(--primary-color);
	color: white;
}

.principal .box .box-content .box-body p {
	margin: 0;
}

.principal .box .box-content p:last-child {
	font-size: 12px;
}

.principal .box .box-footer {
	display: flex;
	justify-content: flex-end;
}

.rodape {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.rodape .box {
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
	flex: 1;
	margin-right: 10px;
}

.rodape .box:last-child {
	margin-right: 0;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

a:active {
	color: var(--link-active-color);
}

.conteudo-tab {
	display: none;
}

.conteudo-tab.active {
	display: block;
}


/*--------------------------------------GRID VICTOR--------------------------------------*/

.container{
  width: 100%;
  
}
.user-container{
  background-color: transparent;
  margin-bottom: 60px;
  border-radius: 20px;
  padding-bottom: 20px;
  height: fit-content;
  width: fit-content;
	height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.user-div-title{
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #1a3482, #1c6fff);
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.user-grid {
  display: grid;
  width: 100%;
  text-align: center;
  grid-template-columns: repeat(5, 1fr); 
  margin-top: 20px;
  background: linear-gradient(to right, #0751ff, #0022e2);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.user-grid-item {
  padding: 5px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.user-grid-item:not(:last-child){
  border-right: 2px solid white;
}
.user-list{
  width: 100%;
  background-color: white;
}
.item-list{
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #185eff;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.item-list:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.item-list p{
  text-align: center;
}
#pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.botao-paginacao{
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #821A4D;
  font-weight: bold;
  border: none;
  color: white;
}
.botao-paginacao:hover{
  cursor: pointer;
  background-color: #c41469;
}
.botao-paginacao:not(:last-child){
  margin-right: 10px;
}
.botao-paginacao.ativo{
  background-color: #f15474;
}
.botao-paginacao.ativo:hover{
  background-color: #ae9298;
}
.item{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
	font-size: 12px;
}
.item:not(:last-child){
  border-right: 2px solid gray;
}
.img_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  width: 50px;
}
.box{
	height: 60vh;
}
.box-content {
    height: 80%;
    overflow-y: auto;
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff; /* Cor de fundo para o cabeçalho */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Pequena sombra para o efeito de destaque */
}
